@main-color: #4DAEA4;
@sec-color: #B6A2DE;
@ok-color: #4DAEA4;
@wrong-color: #FA6E79;

.card {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 10px 20px;

  .card-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  
  .card-title {
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    color: #666;
  }

  .card-content {
    // 留空
  }

  .card-footer {
    color: #666;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-top: 1px solid #eee;
    padding-top: 10px;
  }
}